## 基礎集計

### このnotebookの目的
ジャルジャルタワーの動画タイトルを集計し、今後の分析方針を立てる。

In [1]:
# library

import pandas as pd
import MeCab
import collections

In [2]:
# option

pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# data path

jarujaru_tower_path = '../data/raw/jarujaru_tower.csv'

In [4]:
# preprocessing

df_jarujaru_tower = pd.read_csv(jarujaru_tower_path)
df_jarujaru_tower.drop_duplicates(inplace=True)
df_jarujaru_tower = df_jarujaru_tower[df_jarujaru_tower['title'].str.contains('ジャルジャルのネタのタネ')]
df_jarujaru_tower['title_neta'] = df_jarujaru_tower['title'].str.split('『|』', expand=True)[1]
df_jarujaru_tower['length_title_neta'] = df_jarujaru_tower['title_neta'].apply(len)
wakati = MeCab.Tagger("-Owakati")
df_jarujaru_tower['title_neta_wakati'] = df_jarujaru_tower['title_neta'].apply(wakati.parse).str.strip()
df_jarujaru_tower.head()

,video_id,published_at,title,comment_count,view_count,like_count,duration,title_neta,length_title_neta,title_neta_wakati
0,1JJNBzpG75g,2021-12-19T09:00:01Z,『悪魔の笑い方のせいで、バイト面接落ちる奴』ジャルジャルのネタのタネ【JARUJARUTOWER】,430,200754,4435,PT8M6S,悪魔の笑い方のせいで、バイト面接落ちる奴,20,悪魔 の 笑い 方 の せい で 、 バイト 面接 落ちる 奴
1,IK_z0D8TSsU,2021-12-18T09:00:15Z,『そりゃ逮捕される奴』ジャルジャルのネタのタネ【JARUJARUTOWER】,371,140585,3287,PT4M24S,そりゃ逮捕される奴,9,そりゃ 逮捕 さ れる 奴
2,AYdy2MGLpXY,2021-12-17T09:00:05Z,『友達が大きな決断した瞬間、引く奴』ジャルジャルのネタのタネ【JARUJARUTOWER】,318,105343,2263,PT6M49S,友達が大きな決断した瞬間、引く奴,16,友達 が 大きな 決断 し た 瞬間 、 引く 奴
3,bAqe9rfa3xQ,2021-12-16T09:00:13Z,『やっと自分をさらけ出せた奴』ジャルジャルのネタのタネ【JARUJARUTOWER】,260,94685,2305,PT4M1S,やっと自分をさらけ出せた奴,13,やっと 自分 を さらけ出せ た 奴
4,9-xWQIgaYlM,2021-12-15T09:00:03Z,『社員旅行で人生が無茶苦茶なった奴』ジャルジャルのネタのタネ【JARUJARUTOWER】,1154,259370,5422,PT17M32S,社員旅行で人生が無茶苦茶なった奴,16,社員 旅行 で 人生 が 無茶苦茶 なっ た 奴

In [5]:
df_jarujaru_tower.describe()

       comment_count   view_count  like_count  length_title_neta
count       1,329.00     1,329.00    1,329.00           1,329.00
mean          632.53   309,089.01    4,648.31              14.10
std           445.82   403,714.63    4,991.80               5.35
min            13.00     7,036.00       50.00               0.00
25%           378.00   122,564.00    2,458.00              10.00
50%           552.00   191,747.00    3,392.00              13.00
75%           751.00   348,276.00    5,079.00              17.00
max         5,789.00 7,439,414.00   79,144.00              49.00

In [6]:
word_array = ' '.join(df_jarujaru_tower['title_neta_wakati'].values).split()
word_count = collections.Counter(word_array)
word_count.most_common(20)

[('奴', 1361),
 ('の', 420),
 ('に', 326),
 ('な', 297),
 ('で', 197),
 ('た', 195),
 ('を', 195),
 ('て', 181),
 ('する', 180),
 ('、', 154),
 ('って', 124),
 ('てる', 120),
 ('と', 114),
 ('し', 99),
 ('「', 87),
 ('ない', 84),
 ('」', 80),
 ('が', 76),
 ('言う', 67),
 ('ネタ', 65)]