## 基礎集計

### このnotebookの目的
ジャルジャルタワーの動画タイトルを集計し、今後の分析方針を立てる。

In [1]:
# library
import pandas as pd

In [2]:
# option
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
# data path
jarujaru_tower_path = '../data/raw/jarujaru_tower.csv'

In [4]:
df_jarujaru_tower = pd.read_csv(jarujaru_tower_path)
df_jarujaru_tower.drop_duplicates(inplace=True)
df_jarujaru_tower = df_jarujaru_tower[df_jarujaru_tower['title'].str.contains('ジャルジャルのネタのタネ')]

In [5]:
df_jarujaru_tower.describe()

       comment_count   view_count  like_count
count         588.00       588.00      588.00
mean          720.52   253,392.42    4,469.08
std           441.75   403,057.13    5,031.37
min            13.00     8,468.00       50.00
25%           500.00   109,693.00    2,581.50
50%           635.00   155,781.00    3,286.00
75%           817.25   263,078.75    4,657.25
max         5,789.00 7,439,414.00   79,144.00